# Imports

In [5]:
import pandas as pd
import numpy as np

# Read PPI

In [6]:
df = pd.read_csv('./data/HI-union.psi',sep='\t',header=None)
print(df.shape)
df.head(1)

(238037, 42)

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,uniprotkb:P0DP25,uniprotkb:A0A087WXN0,ensembl:ENST00000291295.13|ensembl:ENSP0000029...,ensembl:ENST00000612316.4|ensembl:ENSP00000481...,human orfeome collection:1(author assigned name),human orfeome collection:56859(author assigned...,"psi-mi:""MI:1112""(two hybrid prey pooling appro...",Luck et al.(2019),unassigned1304,taxid:9606(Homo Sapiens),...,-,-,-,-,"gal4 dna binding domain:n-n (""DB domain (n-ter...","gal4 activation domain:n-n (""AD domain (n-term...",-,-,"psi-mi:""MI1180""(partial DNA sequence identific...","psi-mi:""MI1180""(partial DNA sequence identific..."

# Select columns index = 0, 1

In [7]:
df = df.iloc[:,[0,1]]
df.columns = ['protein1','protein2']

print(df.head())

                    protein1              protein2
0           uniprotkb:P0DP25  uniprotkb:A0A087WXN0
1         uniprotkb:Q68D86-1    uniprotkb:Q9HD26-2
2           uniprotkb:Q13515      uniprotkb:Q9UJW9
3           uniprotkb:P30049    uniprotkb:Q05519-2
4  ensembl:ENSP00000462298.1      uniprotkb:P43220

# Remove db name prifix and version postfix

In [8]:
### drop row with ensembl value
#df = df.drop(df[df.iloc[:,0].apply(lambda x: x[:8]) == 'ensembl:'].index)
#df = df.drop(df[df.iloc[:,1].apply(lambda x: x[:8]) == 'ensembl:'].index)
#df.head(5)

### Remove uniprotkb prifix

In [9]:
df.iloc[:,0] = df.iloc[:,0].apply(lambda x: x.replace('uniprotkb:',''))
df.iloc[:,1] = df.iloc[:,1].apply(lambda x: x.replace('uniprotkb:',''))
df.head(5)

                    protein1    protein2
0                     P0DP25  A0A087WXN0
1                   Q68D86-1    Q9HD26-2
2                     Q13515      Q9UJW9
3                     P30049    Q05519-2
4  ensembl:ENSP00000462298.1      P43220

### Remove version suffix

In [10]:
df.iloc[:,0] = df.iloc[:,0].apply(lambda x: x.split('-')[0])
df.iloc[:,1] = df.iloc[:,1].apply(lambda x: x.split('-')[0])
df.head(5)

                    protein1    protein2
0                     P0DP25  A0A087WXN0
1                     Q68D86      Q9HD26
2                     Q13515      Q9UJW9
3                     P30049      Q05519
4  ensembl:ENSP00000462298.1      P43220

In [46]:
print(f'finial PPI network size : {df.shape}')

finial PPI network size : (232626, 2)

In [47]:
df.to_csv('./data/PPI.csv')

In [11]:
ppi = pd.read_csv('./data/PPI.csv')