In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('./data/HI-union.psi',sep='\t',header=None)
print(df.shape)
df.head(1)

(238037, 42)

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,uniprotkb:P0DP25,uniprotkb:A0A087WXN0,ensembl:ENST00000291295.13|ensembl:ENSP0000029...,ensembl:ENST00000612316.4|ensembl:ENSP00000481...,human orfeome collection:1(author assigned name),human orfeome collection:56859(author assigned...,"psi-mi:""MI:1112""(two hybrid prey pooling appro...",Luck et al.(2019),unassigned1304,taxid:9606(Homo Sapiens),...,-,-,-,-,"gal4 dna binding domain:n-n (""DB domain (n-ter...","gal4 activation domain:n-n (""AD domain (n-term...",-,-,"psi-mi:""MI1180""(partial DNA sequence identific...","psi-mi:""MI1180""(partial DNA sequence identific..."